---
import Angular from "../icons/Angular.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import AWS from "../icons/AWS.astro";
import CSS from "../icons/CSS.astro";
import Docker from "../icons/Docker.astro";
import ExpressJS from "../icons/ExpressJS.astro";
import Flutter from "../icons/Flutter.astro";
import Git from "../icons/Git.astro";
import GitHub from "../icons/GitHub.astro";
import GitLab from "../icons/GitLab.astro";
import HTML from "../icons/HTML.astro";
import Java from "../icons/Java.astro";
import JQuery from "../icons/JQuery.astro";
import JS from "../icons/JS.astro";
import JWT from "../icons/JWT.astro";
import LinkButton from "./LinkButton.astro";
import NativeScript from "../icons/NativeScript.astro";
import NextJS from "../icons/NextJS.astro";
import NodeJS from "../icons/NodeJS.astro";
import Sequelize from "../icons/Sequelize.astro";
import TailwindCSS from "../icons/TailwindCSS.astro";
import TypeScript from "../icons/TypeScript.astro";
import Vue from "../icons/Vue.astro";
import Web from "../icons/Web.astro";

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-[#0f0f11]",
    icon: Angular,
  },
  AWS: {
    name: "Amazon Web Services",
    alias: "AWS",
    class: "bg-[#6A727D]",
    icon: AWS,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    alias: "Bootstrap",
    class: "bg-[#003159]",
    icon: Bootstrap,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159]",
    icon: CSS,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#003159]",
    icon: Docker,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-black",
    icon: ExpressJS,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#003159]",
    icon: Flutter,
  },
  GIT: {
    name: "Git",
    class: "bg-black",
    icon: Git,
  },
  GITHUB: {
    name: "Github",
    class: "bg-black",
    icon: GitHub,
  },
  GITLAB: {
    name: "GitLab",
    class: "bg-black",
    icon: GitLab,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#003159]",
    icon: HTML,
  },
  JQUERY: {
    name: "JQuery",
    alias: "jQuery",
    class: "bg-[#003159]",
    icon: JQuery,
  },
  JS: {
    name: "JavaScript",
    alias: "JS",
    class: "bg-[#003159]",
    icon: JS,
  },
  JSP: {
    name: "Java Server Pages y Servlets",
    alias: "JSP",
    class: "bg-[#373B4F]",
    icon: Java,
  },
  JWT: {
    name: "JSON Web Token",
    alias: "JWT",
    class: "bg-black",
    icon: JWT,
  },
  NATIVESCRIPT: {
    name: "NativeScript",
    class: "bg-[#6A727D]",
    icon: NativeScript,
  },
  NEXT: {
    name: "Next.js",
    alias: "Next",
    class: "bg-black",
    icon: NextJS,
  },
  NODE: {
    name: "Node.js",
    alias: "Node",
    class: "bg-black",
    icon: NodeJS,
  },
  SEQUELIZE: {
    name: "Sequelize",
    class: "bg-black",
    icon: Sequelize,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    alias: "Tailwind",
    class: "bg-[#003159]",
    icon: TailwindCSS,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    alias: "TS",
    class: "bg-[#003159]",
    icon: TypeScript,
  },
  VUE: {
    name: "Vue",
    alias: "Vue",
    class: "bg-[#160e3e]",
    icon: Vue,
  },
};
const PROJECTS = [
  {
    title: "Proyecto 1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "https://www.linkedin.com/in/4lejandro/",
    github: "https://www.linkedin.com/in/4lejandro/",
    image: [
      "https://www.naiarafernandez.com/wp-content/uploads/2015/10/que-debo-tener-en-cuenta-para-planificar-un-proyecto-web.png",
    ],
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.FLUTTER, TAGS.GIT, TAGS.GITHUB],
  },
  {
    title: "Quickly v1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "",
    github: "",
    image: [
      "https://www.dev1992.com/mockups/quickly_v1/1.webp",
      "https://www.dev1992.com/mockups/quickly_v1/2.webp",
      "https://www.dev1992.com/mockups/quickly_v1/3.webp",
      "https://www.dev1992.com/mockups/quickly_v1/4.webp",
      "https://www.dev1992.com/mockups/quickly_v1/5.webp",
    ],
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.BOOTSTRAP,
      TAGS.JQUERY,
      TAGS.GIT,
      TAGS.GITLAB,
    ],
  },
  {
    title: "Quickly v2",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "",
    github: "",
    image: [
      "https://www.dev1992.com/mockups/quickly_v2/1.webp",
      "https://www.dev1992.com/mockups/quickly_v2/2.webp",
      "https://www.dev1992.com/mockups/quickly_v2/3.webp",
      "https://www.dev1992.com/mockups/quickly_v2/4_1.webp",
      "https://www.dev1992.com/mockups/quickly_v2/5.webp",
      "https://www.dev1992.com/mockups/quickly_v2/6.webp",
    ],
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.BOOTSTRAP,
      TAGS.JQUERY,
      TAGS.GIT,
      TAGS.GITLAB,
    ],
  },
  {
    title: "IQ INVER",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "",
    github: "",
    image: [
      "https://www.dev1992.com/mockups/iq_inver/2_1.webp",
      "https://www.dev1992.com/mockups/iq_inver/3.webp",
      "https://www.dev1992.com/mockups/iq_inver/4.webp",
      "https://www.dev1992.com/mockups/iq_inver/5.webp",
      "https://www.dev1992.com/mockups/iq_inver/6.webp",
      // "https://www.dev1992.com/mockups/iq_inver/7.webp",
      // "https://www.dev1992.com/mockups/iq_inver/8.webp",
      "https://www.dev1992.com/mockups/iq_inver/10.webp",
    ],
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.BOOTSTRAP,
      TAGS.JQUERY,
      TAGS.GIT,
      TAGS.GITLAB,
    ],
  },
  {
    title: "IQ JURÍDICO",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "",
    github: "",
    image: [
      "https://www.dev1992.com/mockups/iq_juridico/1.webp",
      "https://www.dev1992.com/mockups/iq_juridico/2.webp",
      "https://www.dev1992.com/mockups/iq_juridico/3.webp",
      "https://www.dev1992.com/mockups/iq_juridico/4.webp",
      "https://www.dev1992.com/mockups/iq_juridico/5.webp",
    ],
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.BOOTSTRAP,
      TAGS.JQUERY,
      TAGS.GIT,
      TAGS.GITLAB,
    ],
  },
  {
    title: "Upharma",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "",
    github: "",
    image: [
      // "https://www.dev1992.com/mockups/upharma/1_1.webp",
      // "https://www.dev1992.com/mockups/upharma/3_2.webp",
      // "https://www.dev1992.com/mockups/upharma/4_1_1.webp",
      // "https://www.dev1992.com/mockups/upharma/4_2.webp",
      // "https://www.dev1992.com/mockups/upharma/5_1.webp",
      "https://www.dev1992.com/mockups/upharma/6_1.webp",
    ],
    tags: [
      TAGS.ANGULAR,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.TYPESCRIPT,
      TAGS.BOOTSTRAP,
      TAGS.JWT,
      TAGS.GIT,
      TAGS.GITHUB,
    ],
  },
  {
    title: "UFree",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "https://dev1992.com/ufree/#/",
    github: "",
    image: [
      "https://www.dev1992.com/mockups/ufree/1_1.webp",
      // "https://www.dev1992.com/mockups/ufree/2_1.webp",
      // "https://www.dev1992.com/mockups/ufree/3_1.webp",
      // "https://www.dev1992.com/mockups/ufree/4_1.webp",
    ],
    tags: [
      TAGS.ANGULAR,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.TYPESCRIPT,
      TAGS.BOOTSTRAP,
      TAGS.JQUERY,
      TAGS.GIT,
      TAGS.GITHUB,
    ],
  },
  {
    title: "Pomodoro",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "https://dev1992.com/pomodoro/",
    github: "https://github.com/Darkkell/vanilla-pomodoro",
    image: ["https://www.dev1992.com/mockups/pomodoro/1_1.webp"],
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.GIT, TAGS.GITHUB],
  },
  {
    title: "Productivity v0.0.1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "https://dev1992.com/productivity/",
    github: "",
    image: ["https://www.dev1992.com/mockups/productivity/5.webp"],
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.GIT, TAGS.GITHUB],
  },
  {
    title: "Pokedex",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "https://dev1992.com/pokedex/",
    github: "https://github.com/Darkkell/vuepoke",
    image: ["https://www.dev1992.com/mockups/pokedex/4_1.webp"],
    tags: [TAGS.VUE, TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.GIT, TAGS.GITHUB],
  },
  {
    title: "Shorty",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    link: "https://dev1992.com/shorty/#/",
    github: "",
    image: ["https://www.dev1992.com/mockups/shorty/1.1_1.webp"],
    tags: [TAGS.VUE, TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.GIT, TAGS.GITHUB],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, image, tags, link, github }) => (
      <article class="pb-16">
        <h3 class="text-2xl font-semibold text-blue-400/90 dark:text-blue-400/90 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex flex-wrap gap-x-2  mb-2">
          {tags.map((tag) => (
            <li class="pt-1 pb-1">
              <span
                class={`
                                  flex gap-x-2 rounded-full
                                  text-xs
                                  ${tag.class} text-white
                                  py-1 px-2
                                  border border-white/10
                                  `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        {image && (
          <section>
            {image.map((image) => (
              <img
                loading="lazy"
                class="rounded shadow-2xl shadow-white/10 aspect-auto"
                src={image}
                alt={`Captura de pantalla del proyecto ${title}`}
              />
            ))}
          </section>
        )}
        <footer class="flex gap-x-4 items-end justify-start mt-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Ver código fuente
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Web class="size-6" />
              Ir al sitio web
            </LinkButton>
          )}
        </footer>
      </article>
    ))
  }
</div>

<style>
  section {
    display: flex;
    min-height: 40rem;
  }
  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  section img:hover {
    cursor: crosshair;
    width: 80%;
    opacity: 1;
    /* filter: contrast(120%); */
  }
</style>
